@import "../../_import"

header.admin-header
    background-color: $yellow
    padding: $fs*5 0

.admin-nav
    +edit-header()

    position: sticky
    top: 0
    left: 0
    z-index: 99

    width: 100%
    padding: 0 5vw
    box-sizing: border-box

    background-color: $yellow
    color: $black
    span, a[role=button]
        padding: $fs/2 $fs
    a[role=button]
        background-color: $yellow
        color: $black
    a[role=button]:not(.delete-button):hover
        background-color: $black
        color: $yellow
    a[role=button].delete-button:hover
        color: $white

.tag-management
    header.tag-management__header
        +edit-header()
    .tag-container
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        flex-wrap: wrap
        .tag
            +edit-header()

            margin-right: $fs
            margin-bottom: $fs/2

            background-color: $grey
            color: $black
            a[role=button]
                color: $black

.collection-list
    header.collection-list__header
        +edit-header()
    .collection-list__collection
        header
            +edit-header()

            background-color: $grey
            color: $black
            a[role=button]
                color: $black
                b
                    text-transform: uppercase

.users-header
    +edit-header()
.users
    .user
        +edit-header()

        background-color: $grey
        color: $black
        a[role=button]
            color: $black
