@import '../../_import'

.are-you-sure
    width: 90vw
    max-width: 250px
    .are-you-sure__buttons
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        flex-wrap: wrap

        background-color: $grey
        input[type=submit], a[role=button]
            flex-grow: 1
            flex-shrink: 0

            font-size: $fs
            font-family: $font--normal
            font-weight: normal
            color: $black
            text-align: center
            text-decoration: none
            border: 0
            outline: 0

            display: inline-block
            padding: $fs/2 $fs
            background-color: transparent
        input[type=submit]:hover
            background-color: $yellow
        a[role=button]:hover
            background-color: $red
