@import '../../_import'

.create-contact
    background-color: $black
    color: $white
    padding: $fs/2 $fs/4
    .create-contact__column
        display: inline-block
        label
            margin-bottom: 2px
        label[for='type']
            margin-bottom: 5px
        input:not(input[type=submit]), select
            margin-right: $fs/4
        input[type=text]
            font-family: $font--normal
            color: $black
            background-color: $white
            border: 0
            outline: 0
            border-radius: 0
            padding: $fs/4 $fs/2
            margin: 0
        input[type=submit]
            padding: $fs/4 $fs/2
            background-color: transparent
            color: $white
            text-decoration: none
            border: 0
            outline: 0
            &:not(.delete-button):hover
                background-color: $yellow
                color: $black
            &.delete-button:hover
                background-color: $red
                color: $black


.edit-contact
    +inline-form()
