@import '../../_import'

.edit-collection-header
    +edit-header()
    @extend .page
    min-height: unset

.edit-collection
    .edit-collection__info
        input[name="name"]
            border: solid 4px $grey
            background-color: $white
            padding: $fs / 4
            font-size: $fs * 1.5
            font-weight: bold
            width: 100%
            display: block
    .edit-collection__inline-form
        +inline-form()
        border-left: solid 4px transparent
        border-right: solid 4px transparent
    textarea[name="description"]
        border: solid 4px $grey
        background-color: $white
        padding: $fs / 4
        width: 100%
        min-height: $fs * 8
        display: block
    .edit-collection__tags
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        flex-wrap: wrap
        .tag
            +edit-header()

            margin-right: $fs
            margin-bottom: $fs/2

            background-color: $grey
            color: $black
            form input[type=submit]
                color: $black
    .photos
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        flex-wrap: wrap
        span
            margin-right: $fs/4
            margin-bottom: $fs/4

            position: relative
            a img
                height: 12 * $fs
                object-fit: cover
            form
                position: absolute
                top: 0
                right: 0
                width: 100%
                input[type=submit]
                    font-size: $fs
                    padding: $fs/4 $fs/2
                    border-radius: 0
                    border: 0
                    background-color: $red
    .dropzone
        min-height: unset
        background-color: $white
        border: solid 5px $black
        transition: 100ms
        transition-timing-function: ease-in
        &:hover
            border-color: $yellow
            box-shadow: 5px 5px 0 $black
            background-color: $white
        .dz-preview
            height: $fs * 7.5
            width: $fs * 7.5
            .dz-details
                margin: 0
                padding: $fs / 4
                background-color: $yellow
                color: $black
                .dz-filename, .dz-filename span, .dz-size, .dz-size span, .dz-size span strong
                    font-family: $font--normal
                    font-size: $fs / 1.67
                    margin: 0
                    padding: 0
                    color: $black
            .dz-image img
                height: $fs * 7.5
                width: $fs * 7.5
                object-fit: cover
            .dz-progress, .dz-progress span
                border-radius: 0
            .dz-error-mark
                background-color: $red
                animation-name: none !important
            .dz-success-mark, .dz-error-mark
                height: 100%
                width: 100%
                top: 0
                left: 0
                animation: none
                display: flex
                flex-flow: row nowrap
                justify-content: center
                align-items: center
                svg
                    height: $fs * 2
                    width: $fs * 2
                    fill: $black
            .dz-error-message
                position: absolute
                top: 0
                left: 0
                height: 100%
                width: 100%
                background-color: $red !important
                color: $white
                padding: $fs / 4
                border-radius: 0
                span
                    font-size: $fs / 2
                    margin: 0
                    padding: 0

//<div class="dz-preview dz-file-preview">
//    <div class="dz-details">
//        <div class="dz-filename"><span data-dz-name></span></div>
//        <div class="dz-size" data-dz-size></div>
//        <img data-dz-thumbnail />
//    </div>
//    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
//    <div class="dz-success-mark"><span>✔</span></div>
//    <div class="dz-error-mark"><span>✘</span></div>
//    <div class="dz-error-message"><span data-dz-errormessage></span></div>
//</div>
