@import '../../_import'

.login-form
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    flex-wrap: nowrap

    width: min-content
    margin: 0 auto
    input[type=text], input[type=password]
        padding: $fs/4 $fs/2
        border: solid 3px $black
        width: 90vw
        max-width: 330px
    .login-form__row
        width: 100%
        text-align: center
    button[type=submit]
        width: 100%
        padding: $fs/4 $fs/2
        box-sizing: border-box
        background-color: $black
        color: $white
        border: solid 3px black
        &:hover
            background-color: $yellow
            color: $black
