@import '../../_import'

.move-element-here, .move-service-here
    z-index: 11

    font-family: $font--normal
    background-color: $yellow
    text-align: center
    form
        width: 100%
        text-align: center
        color: $black
        margin-block-end: 0
        button, input[type=submit]
            border: 0
            border-radius: 0
            background: transparent
            width: 100%
            text-align: center
            color: $black
            padding: $fs/2 $fs
            text-decoration: none

.move-element-here--disabled, .move-service-here--disabled
    background-color: $grey
    cursor: default
    padding: $fs / 2
