@import '../../_import'

.edit-header
    +edit-header()

.add-element
    font-family: $font--normal
    background-color: $grey
    padding: 0 $fs/2
    span
        font-family: $font--normal
    form
        display: inline-block
        margin-block-end: 0
        button
            font-family: $font--normal
            background-color: $grey
            color: $black
            padding: $fs/2 $fs
            text-decoration: none
            border: 0
            &:hover
                //color: $white
                background-color: $yellow

.add-service
    font-family: $font--normal
    background-color: $grey
    a[role=button]
        display: inline-block
        width: 100%
        text-align: center
        color: $black
        padding: $fs/2 $fs
        text-decoration: none
        &:hover
            background-color: $yellow

.admin-bar
    position: sticky
    bottom: 0
    left: 0
    width: 100%

    +edit-header()

    margin: 0

    padding: 0 5vw
    box-sizing: border-box

    background-color: $yellow
    color: $black
    span, >b, a[role=button], input[type=submit]
        padding: $fs/2 $fs
    a[role=button]
        background-color: $yellow
        color: $black
    a[role=button]:not(.delete-button):hover
        background-color: $black
        color: $yellow
    a[role=button].delete-button:hover
        color: $white

.inline-form
    +inline-form()

.edit-form
    width: 90vw
    max-width: 500px
    +edit-form()

.edit-form--unsized
    +edit-form()

.create-form
    width: 90vw
    max-width: 500px
    +create-form()

.create-form--unsized
    +create-form()
