@import '../../_import'

.popup-menu
    position: fixed
    top: 0
    height: 100vh
    width: 100vw
    z-index: 101 //more than overlay

    color: $white

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-wrap: nowrap
    .popup-menu__background
        background-color: rgba(230, 230, 230, 0.2)
        backdrop-filter: blur(2px)
        z-index: -1
        height: 100%
        width: 100%
    .popup-menu__content
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        background-color: black
        box-shadow: 0 0 7.5px rgba(0, 0, 0, 0.75)
        a[role=button]
            display: block
            padding: $fs/2 $fs*2
            width: 100%
            color: $white
            text-decoration: none
            &:hover
                color: $black
                background-color: $yellow
        .space
            height: $fs*2
            visibility: hidden
