@import '_import'

*
    +text--normal(1)

body
    box-sizing: border-box
    color: $black

.home__header
    min-height: 100vh
    width: 100%

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-wrap: nowrap

.home__header__content
    +film-stripe-header(2.5)

    max-width: 850px
    height: min-content
    margin: 3rem auto

a.anchor::before
    display: block
    content: " "
    margin-top: -33vh
    height: 33vh
    visibility: hidden

.page
    box-sizing: content-box
    padding: 0 5vw
    min-height: 100vh
