@import "var"

=text--display($size: 1, $line-height: 1)
    font-family: $font--display
    font-size: $size * $fs
    line-height: $lh
    text-transform: uppercase
    @content

=text--normal($size: 1, $line-height: 1)
    font-family: $font--normal
    font-size: $size * $fs
    line-height: $lh
    @content

=witch-film-stripe($size: 1) //DEPRICATED
    @warn 'the "witch-film-stripe" mixin is depricated'
    white-space: nowrap
    h2
        vertical-align: top
        display: inline-block
        font-family: "W!TCH", "Passion One", serif
        font-size: 3 * $size * $fs
        text-transform: uppercase
        line-height: 2.25 * $size * $fs
    p
        vertical-align: top
        white-space: normal
        word-wrap: anywhere
        word-break: break-all
        display: inline
        font-family: "W!TCH", "Passion One", serif
        font-size: 1 * $size * $fs
        text-transform: uppercase
        line-height: 2.25 * $size * $fs
        position: relative
        top: -0.7 * $size * $fs

=film-stripe-title($size: 1)
    white-space: nowrap
    h2
        vertical-align: top
        white-space: normal
        display: inline-block
        font-family: "W!TCH", "Passion One", serif
        font-size: 3 * $size * $fs
        text-transform: uppercase
        line-height: 0.8
        a, span
            vertical-align: middle
            display: inline
            font-family: "W!TCH", "Passion One", serif
            font-size: 3 * $size * $fs
            text-transform: uppercase
            line-height: 2.25 * $size * $fs
            color: $black
            text-decoration: none
            &:hover
                color: $yellow
                text-shadow: $size*3.5px $size*3.5px 0 $black
    h5
        vertical-align: top
        white-space: normal
        display: inline
        font-family: "W!TCH", "Passion One", serif
        font-size: $size * $fs
        text-transform: uppercase
        line-height: 1
        a, span
            line-height: 0.8
            display: inline
            white-space: normal
            font-family: "W!TCH", "Passion One", serif
            font-size: 1 * $size * $fs
            text-transform: uppercase

            padding: 0
            margin-right: $size*$fs/2
            color: $black

            text-decoration: none
        a:hover
            color: $yellow
            text-shadow: $size*1.75px $size*1.75px 0 $black
        a.stripe-link--tag::before
            content: '!'
        //a.stripe-link--page::before
        //    content: '/'
        a.stripe-link--outside::before
            content: '>'
        a.stripe-link--anchor::before
            content: '#'

=film-stripe-header($size: 1)
    h2
        vertical-align: top
        display: inline-block
        font-family: "W!TCH", "Passion One", serif
        font-size: 3 * $size * $fs
        text-transform: uppercase
        line-height: 2.25 * $size * $fs
        a, span
            vertical-align: middle
            display: inline
            font-family: "W!TCH", "Passion One", serif
            font-size: 3 * $size * $fs
            text-transform: uppercase
            line-height: 2.25 * $size * $fs
            color: $black
            text-decoration: none
            &:hover
                color: $yellow
                text-shadow: $size*3.5px $size*3.5px 0 $black
    p
        vertical-align: middle
        white-space: normal
        display: inline
        font-family: "W!TCH", "Passion One", serif
        font-size: 1 * $size * $fs
        text-transform: uppercase
        line-height: 2.25 * $size * $fs
        position: relative
        top: -0.7 * $size * $fs
        a, span
            display: inline
            white-space: normal
            font-family: "W!TCH", "Passion One", serif
            font-size: 1 * $size * $fs
            text-transform: uppercase

            padding: 0
            margin-right: $size*$fs/2
            color: $black

            text-decoration: none
        a:hover
            color: $yellow
            text-shadow: $size*1.75px $size*1.75px 0 $black
        a.stripe-link--tag::before
            content: '!'
        //a.stripe-link--page::before
        //    content: '/'
        a.stripe-link--outside::before
            content: '>'
        a.stripe-link--anchor::before
            content: '#'

=edit-header()
    font-family: $font--normal
    background-color: $black
    color: $yellow
    margin-bottom: $fs/4

    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    .filler
        width: 0
        visibility: hidden
        flex-grow: 1
        flex-shrink: 1
    .space
        visibility: hidden
        width: $fs
    .grow
        flex-grow: 1
        flex-shrink: 1
    span, >b, a[role=button], input[type=submit]
        font-family: $font--normal
        padding: $fs/4 $fs/2
    a[role=button], input[type=submit]
        color: $white
        text-decoration: none
    input[type=submit]
        border: 0
        border-radius: 0
        background-color: inherit
    a[role=button]:not(.delete-button):hover,
    input[type=submit]:not(.delete-button):hover
        background-color: $yellow
        color: $black
    a[role=button].delete-button:hover,
    input[type=submit].delete-button:hover
        background-color: $red
        color: $black

=inline-form()
    font-family: $font--normal
    margin-bottom: $fs/4
    background-color: $grey
    padding: $fs/4

    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    .filler
        width: 0
        visibility: hidden
        flex-grow: 1
        flex-shrink: 1
    .space
        visibility: hidden
        width: $fs
    .grow
        flex-grow: 1
        flex-shrink: 1
    input:not(input[type=submit]), select
        margin-right: $fs/2
        margin-left: 0.5px
    input[type=text]
        font-family: $font--normal
        color: $black
        background-color: $white
        border: 0
        outline: 0
        border-radius: 0
        padding: $fs/4 $fs/2
        margin: 0
    input[type=submit], a[role=button]
        padding: $fs/4 $fs/2
        background-color: transparent
        color: $black
        text-decoration: none
        border: 0
        outline: 0
        &:not(.delete-button):hover
            background-color: $yellow
        &.delete-button:hover
            background-color: $red

=edit-form()
    margin: 0
    input[type=text], textarea
        width: 100%
        display: block
        border: solid 3px $grey
        padding: $fs / 4
    textarea
        height: $fs * 8
    input[type=submit], button[type=submit]
        display: block
        margin: 0 auto
        background-color: $grey
        color: $black
        padding: $fs/4 $fs
        border: solid 3px $grey
        &:hover
            background-color: $yellow

=create-form()
    margin: 0
    .create-form__row
        background-color: $grey
        padding: $fs / 4
        label
            display: block
            margin: 0 $fs/2 0 0
        input[type=text], textarea, input[type=email], input[type=password]
            flex-grow: 1
            flex-shrink: 0

            display: block
            width: 100%

            font-family: $font--normal
            color: $black
            background-color: $white
            border: 0
            outline: 0
            border-radius: 0
            padding: $fs/4 $fs/2
            margin: 0
        textarea
            min-height: $fs * 8
        .create-form__row__container
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: flex-start
            flex-wrap: nowrap
            span
                flex-grow: 0
                font-family: $font--normal
                color: rgb(180, 180, 180)
                padding: $fs/4 0 $fs/4 $fs/4
                background-color: $white
            input[type=text], input[type=email], input[type=password]
                padding: $fs/4 $fs/4 $fs/4 3px
                width: unset
                flex-grow: 1
    input[type=submit], button[type=submit]
        display: block
        margin: 0 auto
        background-color: $grey
        color: $black
        padding: $fs/4 $fs
        border: solid 3px $grey
        &:hover
            background-color: $yellow
