/* --- LARAVEL DEFAULTS --- */

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* --- CUSTOM --- */

// -- fonts
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@font-face {
    font-family: 'W!TCH';
    src: url("public/font/witch.ttf");
}

// -- imports
@import 'var';
@import 'main';
@import 'mixin';
@import 'modules/_all';
