@import '../_import'

.page--bio
    header
        .bio
            margin: 2.5 * $fs auto 0 auto
            //max-width: 850px

            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            flex-wrap: wrap
            img
                flex-shrink: 0
                flex-grow: 0

                height: 50vh
                width: auto

                margin: 0 2.5*$fs 2.5*$fs 2.5*$fs
            p
                flex-grow: 2
                flex-shrink: 0

                width: 300px

                text-align: justify

                margin-bottom: 2.5 * $fs
