@import '../_import'

section.select-resource
    .select-resource__item
        margin-bottom: $fs / 4
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        flex-wrap: nowrap
        &:hover
            background-color: $yellow
        a:not(.delete-button)
            flex-grow: 1
            text-decoration: none
            color: $black
            span
                text-transform: uppercase
                font-weight: bold
            img
                height: 3 * $fs
                width: 3 * $fs
                object-fit: cover
                margin-right: $fs
        a.delete-button
            text-decoration: none
            color: $black
            height: 3 * $fs
            padding: 0 $fs

            display: flex
            justify-content: center
            align-items: center
            &:hover
                background-color: $red
        input[type=submit]
            width: 100%
            font-size: $fs
            color: $black
            text-transform: uppercase
            font-weight: bold
            border: 0
            border-radius: 0
            background: transparent
    .select-resource__item--add
        margin-top: $fs / 2
        text-align: center
        padding: $fs / 2
    .select-resource__item--selected
        background-color: $yellow
        outline: solid 2px $black

section.edit-image
    .file-input
        +inline-form()
        background-color: $black
        color: $white
        input[type=submit]:not(:hover)
            color: $white
        input[type=file] button
            border-radius: 0
    .link-photo
        .link-photo__header
            +inline-form()
            background-color: $black
            color: $white
            input[type=checkbox]
                margin-left: $fs/4 !important
                margin-right: $fs/2 !important
            input[type=submit]:not(:hover)
                color: $white
            label
                color: $white
                margin-bottom: 0
        header
            background-color: $grey
            padding: $fs / 4
            margin-bottom: $fs / 4
        .link-photo__collection__photos
            margin-bottom: $fs / 2
            .link-photo__collection__photo
                display: inline-block
                position: relative
                label
                    cursor: pointer
                    img
                        height: 3rem
                        width: 3rem
                        object-fit: cover
                input[type=radio]
                    cursor: pointer
                    position: absolute
                    top: 0
                    left: 0
