@import '../_import'

footer
    @extend .page
    min-height: unset
    padding-top: $fs
    padding-bottom: $fs

    background-color: $black
    hgroup
        +film-stripe-header(1.25)
        color: $white
        p span
            color: $white
