@import '../_import'

$_nav-unit: 1.25 * $fs

nav
    position: sticky
    top: 0
    left: 0
    z-index: 99

    width: 100%
    padding: $_nav-unit/4*3 5vw $_nav-unit/4 5vw

    background-color: rgba(255,255,255,0.33)
    backdrop-filter: blur(3px)
    a
        display: inline-block

        vertical-align: top

        font-family: $font--display
        color: $black
        font-size: $_nav-unit

        margin-right: $_nav-unit
        margin-bottom: $_nav-unit/2

        white-space: nowrap
        &:hover
            color: $yellow
            text-shadow: 2px 2px 0 $black
            text-decoration: none
    .logo
        display: inline-block

        fill: $black
        height: 2.5 * $_nav-unit

        margin: 0 1.5*$_nav-unit $_nav-unit/2 0
        padding: 0

        animation-name: logo
        animation-duration: 25s
        animation-iteration-count: infinite
        animation-timing-function: ease-in-out
    h6
        margin: $_nav-unit/5 0 0 0

        font-family: $font--display
        color: $black
        font-size: $_nav-unit

@keyframes logo
    0%
        transform: rotate(0deg)
    7.5%
        transform: rotate(0deg)
    8.75%
        transform: rotate(200deg)
    9.5%
        transform: rotate(170deg)
    10%
        transform: rotate(180deg)
    32.5%
        transform: rotate(180deg)
    33.75%
        transform: rotate(0deg)
    41.75%
        transform: rotate(0deg)
    43.5%
        transform: rotate(360deg)
    100%
        transform: rotate(360deg)
