@import '../_import'

.overlay
    position: fixed
    top: 0
    height: 100vh
    width: 100vw
    z-index: 100 //less than popup menu

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-wrap: nowrap
    .overlay__background
        display: block
        position: absolute
        background-color: rgba(230, 230, 230, 0.33)
        height: 100%
        width: 100%
        backdrop-filter: blur(5px)
        z-index: -1
        transition: 250ms
        &::after
            content: '✕'
            font-size: 1.5 * $fs
            position: absolute
            top: 0.75 * $fs
            right: $fs
            color: $black
        &:hover
            background-color: rgba(230, 230, 230, 0.15)
            backdrop-filter: blur(3px)
    .overlay__content
        padding: $fs
        box-shadow: 0 0 25px rgba(50, 50, 50, 0.5)
        background-color: $white
        z-index: 1
        max-height: 85vh
        overflow-y: auto

.overlay-content-class--no-padding
    padding: 0

.overlay-content-class--normal
    outline: solid 3px $black

.overlay-content-class--create
    outline: solid 3px $yellow
