@import '../_import'

.page--portfolio
    header.portfolio__header
        margin-top: 8*$fs
        margin-bottom: 8*$fs
        +film-stripe-header(2.5)
    section.collection
        margin-bottom: 3*$fs
        .collection__header
            hgroup
                +film-stripe-title(1.5)
                white-space: normal
                h5
                    white-space: nowrap
            p
                text-align: justify
        .photos
            display: flex
            flex-direction: row
            justify-content: flex-start
            align-items: flex-start
            flex-wrap: wrap
            a
                margin-right: $fs/4
                margin-bottom: $fs/4

                transition: 100ms
                transition-timing-function: ease-in
                &:hover
                    transform: scale(1.5)
                    outline: solid 3px $yellow
                    box-shadow: 7px 7px 0 $black
                img
                    height: 12 * $fs
                    //width: 10 * $fs
                    object-fit: cover
