@import '../_import'

section.service
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: nowrap
    .service__title-image
        width: 20 * $fs
        margin-right: 3 * $fs
    .service__content
        hgroup
            +film-stripe-title(2)
        p
            margin: 0
        a
            img
                height: 10 * $fs
                width: auto
