@import '../_import'

main.viewer
    height: 100vh
    width: 100vw

    padding: $fs 3*$fs

    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    flex-wrap: nowrap
    a.viewer__close-button
        position: absolute
        top: $fs/1.5 * 0.75
        right: $fs/1.5

        font-size: 2 * $fs
        color: $black
        text-decoration: none

        transition: 200ms
        &:hover
            transform: scale(1.15)
    header
        flex-grow: 0
        flex-shrink: 0

        width: 100%
        box-sizing: border-box

        +film-stripe-title(1.5)
    section.viewer__display
        flex-grow: 1
        flex-shrink: 1

        width: 100%
        height: 0

        padding-top: $fs
        box-sizing: border-box

        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        flex-wrap: nowrap
        img
            flex-grow: 1
            flex-shrink: 1

            object-fit: contain

            height: 100%
            width: 0

            margin: 0 $fs
        a
            flex-grow: 0
            flex-shrink: 0

            color: $black

            font-family: $font--display
            font-size: 3 * $fs
            text-decoration: none

            writing-mode: vertical-rl
            text-orientation: mixed
            &:hover
                color: $yellow
                text-shadow: -4px 4px 0 $black
