<template>
    <div>
        <vue-dropzone
            ref="myVueDropzone"
            id="dropzone"
            :options="dropzoneOptions"
            :useCustomSlot="true"
            v-on:vdropzone-success="uploadSuccess"
            v-on:vdropzone-error="uploadError"
            v-on:vdropzone-removed-file="fileRemoved"
        >
            drag'n'drop files here / click here
        </vue-dropzone>
    </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

export default {
    props: [
        'collection_id'
    ],
    components: {
        vueDropzone: vue2Dropzone
    },
    data(options) {
        console.log(options);
        console.log(options.$options.propsData.collection_id);
        return {
            dropzoneOptions: {
                url: "/admin/collection/edit/"+options.$options.propsData.collection_id+"/photo",
                addRemoveLinks: false, //TODO: add an remove link to dropzone itself (rather than only to the preview on edit-collection)
                maxFilesize: null,
                maxFiles: 50,
                sending: function(file, xhr, formData){
                    formData.append('_token', $('meta[name="csrf-token"]').attr('content'));
                }
            },
            fileName: ''
        };
    },
    methods: {
        uploadSuccess(file, response) {
            console.log('File Successfully Uploaded with file name: ' + response.file);
            this.fileName = response.file;
        },
        uploadError(file, message) {
            console.log('An Error Occurred');
        },
        fileRemoved() {}
    }
};
</script>
